@font-face {
  font-family: "Dancing Script";
  font-weight: 400;
  src: url("/fonts/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dancing Script";
  font-weight: 600;
  src: url("/fonts/DancingScript-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Raleway, Helvetica, sans-serif;
  color: rgb(20, 20, 20);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
}

body {
  background: url("/images/fond.jpg");
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
